body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  background-color: #131416;
  font-size: 35px;
  color: white;
  z-index: 100;
}
.footer {
  position: fixed;
  bottom: 0;
  z-index: 100;
  padding: 0.3% 0;
}

#cardFrom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}
#form {
  width: fit-content;
  height: fit-content;
  padding: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 34px;
  background-color: #ffffff3d;

}
#form input {
  border-radius: 34px;
  padding: 0.5% 1%;
  border: none;
  margin: 1%;
}


.card {
  border-radius: 34px;
  width: fit-content;
  height: fit-content;
}
.card:hover {
  background-color: #ffffff8a !important;
  color: black !important;
}
.card-img-top {
  height: 100%;
  width: auto;
  max-height: 400px;
  max-width: 300px;
  border-radius: 34px;
}

.button {
  border-radius: 34px;
  padding: 0.5% 1%;
  border: none;
}

.button,
.buttons {
  border-radius: 34px;
  font-size: 16px;
  font-weight: 600;
  border: none !important;
}
#deleteButton:hover {
  background-color: red !important;
}

.button:hover,
.buttons {
  background-color: darkblue !important;
}

a:hover {
  color: white;
}

/*                    Respomsive                      */
/*                    FOR MOBILE                      */
@media (min-width: 300px) and (max-width: 576px) {
  .header {
    font-size: 25px;
  }
  .header1 {
    display: none;
  }
  #card {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    width: 45%;
    padding: 0;
    margin-left: 3%;
  }
  .card {
    margin: 0 3%;
    height: 100%;
  }
  .card-img-top {
    height: 70%;
    width: 100%;
  }
  .card-title {
    font-size: 18px !important;
  }
  .movie {
    font-size: 13px !important;
  }
  .button,
  .buttons {
    font-size: 12px;
  }
  .footer1 {
    font-size: 14px;
  }
}

/*                            FOR TABLET                  */
@media (min-width: 576px) and (max-width: 768px) {
  .card-img-top {
    height: 70%;
    width: 100%;
  }
  .card-title {
    font-size: 15px !important;
  }
  .movie {
    font-size: 13px !important;
  }
  .button,
  .buttons {
    font-size: 12px;
  }
  .header {
    display: none;
  }
  .footer {
    font-size: 14px;
  }
}
/*                            FOR DESKTOP                  */
@media (min-width: 768px) and (max-width: 980px) {
  .card-img-top {
    height: 10%;
    width: 100%;
  }
  .card-title {
    font-size: 15px !important;
  }
  .movie {
    font-size: 13px !important;
  }
  .button,
  .buttons {
    font-size: 12px;
  }
  .header {
    display: none;
  }
  .footer {
    font-size: 14px;
  }
}
